.main {
  width: 90vw;
  margin: 2em auto 0;
  display: flex;
  /* background-color: aqua; */
}

@media (max-width: 1414px) {
  .main {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
}

