.in-cart-product {
  display: flex;
  padding: .5em;


  img {
    height: 10em;
  }


  .product-details {
    padding: 0 1em;
  }

  h4 {
    margin: 0;
    display: -webkit-box;
    // max-width: 100%;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;

  }

  span {
    background-color: #750081;
    font-weight: 600;
    color: white;
    margin-left: .5em;
    padding:  .2em .5em;
    border-radius: .5em;
    text-align: center;
  }

  .in-cart-product-text {
    position: relative;
    top: .5em;
  }
}